# PaperJam OS - SD Card Image Layout
# Creates a bootable image for Raspberry Pi Zero 2 W

image boot.vfat {
    vfat {
        files = {
            "bcm2710-rpi-zero-2-w.dtb",
            "zImage",
            "rpi-firmware/bootcode.bin",
            "rpi-firmware/start.elf",
            "rpi-firmware/fixup.dat",
            "rpi-firmware/config.txt",
            "rpi-firmware/cmdline.txt"
        }
    }
    size = 64M
}

image rootfs.ext4 {
    ext4 {
        label = "rootfs"
        use-mke2fs = true
    }
    size = 256M
}

image sdcard.img {
    hdimage {
    }

    partition boot {
        partition-type = 0x0c
        bootable = "true"
        image = "boot.vfat"
    }

    partition rootfs {
        partition-type = 0x83
        image = "rootfs.ext4"
    }
}
